/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
  url('../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v20-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  max-width: 1920px;
  width: 100%;
  scroll-behavior: smooth;
}

.page {
  font-family: 'Roboto', sans-serif;
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.link-decor {
  cursor: pointer;
  text-decoration: none;
  color: #1f1f24;
}
.link-decor:hover {
  color: #fc557c;
}
.link-decor:active {
  border: 3px solid #fa0891;
  box-shadow: #fa0891  3px 0 5px 3px;
}
.link-decor:focus {
  border: #ff2f96 2px solid;
}


.address-style {
  font-style: inherit;
}

.container {
  max-width: 1190px;
  padding: 0 0 0 20px;
  margin: 0 auto;
}

.contacts{
  font-size: 25px;
  font-weight: bold;
  color: #1f1f24;
}

.btn-order-call {
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-order-call:focus {
  box-shadow: 0 0 0 10px rgba(172,63,245,0.2);
  border-radius: 10px;
}
.btn-order-call:hover {
  background-color: #ac3ff5;
  color: #fff;
  border: 1px solid green;
  transform: translateY(5px);
  transition: all 0.5s;
}
.btn-order-call:active {
  background-color: blue;
  box-shadow: inset blue 10px 10px 20px 10px;
}


.btn-order-call_full {
  width: 270px;
  height: 60px;
  background-color: #ff4e2e;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  border: 1px;
}
.btn-order-call__header-mid{
  width: 207px;
  height: 45px;
  background-color: inherit;
  border: 1px solid #f82370;
  color: #f53f4f;
  font-size: 16px;
}

.btn-order-call__header-mini {
  display: none;
}

.scrollOff {
  position: static;
  overflow: hidden;
  width: 100%;
}
.fixed {
  position: fixed;
  width: 100%;
}


/*POPUP*/

.popup {
  padding: 50px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -49%);
  background-color: #fff;
  overflow: hidden;
  z-index: 100;
  border: 2px solid black;
  border-radius: 10px;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  width: 24px;
  height: 18px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(45deg, transparent 45%, #6c6b86 46%, #6c6b86 55%, transparent 56%),
  linear-gradient(-45deg, transparent 45%, #6c6b86 46%, #6c6b86 55%, transparent 56%) !important;
}
.popup__thanks-head {
  padding-bottom: 10px;
}
.popup__lb {
  font-size: 20px;
  font-weight: normal;
}
.popup__inp-block {
  padding-top: 10px;
}
.popup__inp {
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.popup__tel {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
}
.btn-sub {
  max-width: 200px;
  max-height: 50px;
  font-size: 20px;
}

.overlay {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  background:#000;
  opacity:.8;
  filter: alpha(opacity=80);
  z-index: 99;
}
/*HEADER*/


.header_pos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100px;
  z-index: 11;
  display: flex;
}
.container_header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  display: flex;
  align-items: center;
}
.main-nav__item {
  padding-right: 30px;
  list-style-type: none;
}
.main-nav__link {
  color: #1f1f24;
  font-size: 16px;
}


.header__tel {
  display: flex;
  align-items: center;
}
.header__contacts_pos {
  padding-right: 30px;
}


.header__burger {
  display: none;
}




/*NAME*/

.name {

  z-index: 10;
  min-height: 768px;
  height: 100%;
  width: 100%;
  background-color: #fbfbfb;
  position: relative;
  background-image: url("../img/shutterstock_574398823.png"),
  url("../img/shutterstock_574398823_copy.png"),
  url("../img/Ellipse 1.svg");
  background-repeat: no-repeat;
  background-position:
    right 19% top 130px,
    right 9% top 106px,
    100% 138px;
  overflow: hidden;


}


.name.active>.name__bg-item {
  height: max-content;
  width: max-content;
  background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #6055c4;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  transition: all 3s;
}

.name.active>.name__bg-item_left {
  opacity: 1;
  transform: translate(-800px, 150px) rotate(30deg) scale(2.5);
}

.name.active>.name__bg-item_right {
  opacity: 1;
  transform: translate(-130px, 170px) rotate(-14deg) scale(1.5);
}

.name.active>.name__bg-item_right-bottom {
  opacity: 1;
  transform: translate(45px, 550px)  rotate(19deg) scale(2);
}
.name__bg-item_center {
  opacity: 0;
}


.name.active>.name__bg-item_left-center {
  opacity: 1;
  transform: translate(-690px, 380px) rotate(13deg) scale(3);
}

.name.active>.name__bg-item_left-bottom {
  opacity: 1;
  transform: translate(-550px, 680px) rotate(-27deg) scale(2);
}

.container_name_wrap {
  min-height: inherit;
  display: flex;
}
.name__text {
  padding-top: 50px;
  z-index: 10;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name__empty {
  flex: 1;
  min-height: inherit;
}
.name__heading{
  color: red;
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 10px;
  opacity: 2;
}

.name__desk {
  font-size: 25px;
  color: #8993ad;
  margin-bottom: 45px;
}




/*SERVICES*/

.services {
  min-height: 645px;
}

.container_services {
  padding: 40px 0 60px;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.services__heading{
  font-size: 54px;
  font-weight: 700;
  color: #262626;
}

.service__prim {
  display: flex;
  justify-content: space-around;
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 254px;

}
.service__item-text {
  font-size: 20px;
  color: #8993ad;
  line-height: 30px;
  letter-spacing: -0.4px;
  text-align: center;
  padding-top: 15px;
}

.btn-order-call__service_mid {
  width: 270px;
  height: 60px;
  background-color: #ff4e2e;
  color: #ffffff;
  font-size: 18px;
}


/*EXAMLE*/

.example {
  background-color: #fff;
  height: 100%;
  max-height: 859px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 101px;
}
.example__heading {
  color: #262626;
  font-size: 54px;
  font-weight: 700;
  padding-top: 90px;
}

.example__slider {
  position: relative;
  padding: 100px 0 104px 0;
  max-width: 1190px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.example__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.example__item {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
.example__link {
  display: inline-block;
}
.example__link-img {
  display: block;
  width: 370px;
  height: 290px;
}
.example__link-text {
  color: #8993ad;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding-top: 28px;
}

.example__slider-bt {
  cursor: pointer;
  outline: none;
  border: none;
  width: 61px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 43%;
}
.example__slider-bt_left {
  left: -1%;
  background: url("../img/arrow.png") no-repeat;
}
.example__slider-bt_right {
  left: 97%;
  background: url("../img/arrow.png") no-repeat;
  transform: rotate(180deg);
}

.example__slider-bt:hover {
  box-shadow: gray 0 0 10px 3px;
}
.example__slider-bt:focus {
  border: 2px solid black;
}
.example__slider-bt:active {
  border: 2px solid red;
}



/*PRICE*/

.price {
  position: relative;
  background-color: #ebebeb;
  min-height: 364px;
  background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.price.active>.price__bg-item {
  height: max-content;
  width: max-content;
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #6055c4;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  transition: all 3s;
}

.price.active>.price__bg-item_left-top {
  opacity: 1;
  transform: translate(-810px, 77px) rotate(30deg) scale(2.5);
}
.price.active>.price__bg-item-left-center {
  opacity: 1;
  transform: translate(-695px, 270px) rotate(13deg) scale(3);}
.price.active>.price__bg-item-right-top {
  opacity: 1;
  transform: translate(720px, 87px) rotate(-27deg) scale(2);}
.price.active>.price__bg-item-right-center {
  opacity: 1;
  transform: translate(826px, 274px) rotate(-15deg) scale(2.5);
}
.price.active>.price__bg-item-right-bottom {
  opacity: 1;
  transform: translate(492px, 312px) rotate(19deg) scale(2);
}


.price__wrapper {
  max-width: 942px;
}
.price__item {
  color: #ffffff;
}
.price__item_size-m {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 25px;
}

.price__item_size-s {
  font-size: 18px;
  line-height: 30px;
}
.price__item-text  {
  font-size: 20px;
}


/*FOOTER*/


.container_footer-wrap {
  padding: 0 20px 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-height: 260px;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
}
.footer-nav__item {
  list-style-type: none;
}
.footer-nav__item:not(last-child) {
  margin-bottom: 15px;
}

.footer-nav__link {
  color: #8993ad;
  font-size: 18px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-contact__item:first-child {
  margin-bottom: 30px;
}

.footer-contact__tel {
  color: #000000;
  font-weight: 700;
  font-size: 25px;
}
.footer-contact__icon {
  margin-right: 20px;
  font-size: 20px;
}

.fa-envelope:before,
.fa-phone:before {
 font-size: 25px;
  background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-order-call__footer-mid {
  width: 248px;
  height: 45px;
  background-color: inherit;
  border: 1px solid #f82370;
  color: #f53f4f;
  font-size: 16px;
}

.social-network {
  margin-top: 30px;
}
.social-network__list{
  display: flex;
}
.social-network__item {
  list-style-type: none;
}
.social-network__item:not(:last-of-type) {
  padding-right: 30px;
}
.social-network__link {
  display: block;
}
.social-network__link_vk {
  width: 40px;
  height: 40px;
  background: 5% 65% / 500% no-repeat  url("../img/sprite.png") ;
}
.social-network__link_fb {
  width: 40px;
  height: 40px;
  background: 35% 6% / 500% no-repeat  url("../img/sprite.png") ;
}
.social-network__link_tw {
  width: 40px;
  height: 40px;
  background: 35% 94% / 500% no-repeat  url("../img/sprite.png") ;
}
.social-network__link_inst {
  width: 40px;
  height: 40px;
  background: 97% 6% / 500% no-repeat  url("../img/sprite.png") ;
}

.footer__copy {
  display: block;
  text-align: center;
  padding: 32px 0;
  color: #ffffff;
  font-size: 16px;
  background-color: #31293c;
}
@media (max-width: 1700px) {
  .name__heading {
    font-size: 65px;
  }

}
@media (max-width: 1200px) and (min-width: 1025px) {
  .name__wrapper {
    width: min-content;
  }
}
@media (max-width: 1199px) {
  .example__slider-bt {
    display: none;
  }
}
@media (max-width: 1024px) {
  .btn-order-call_mid-red {
    width: 320px;
    height: 68px;
    background-color: #ff4e2e;
    color: #fff;
    font-size: 18px;
  }

  .main-nav  {
    display: none;
  }
  .container {
    padding: 45px 40px 0;
  }
  .container_header-wrap {
    padding: 30px 40px 0;
  }

  .burger {
    display: flex;
    z-index: 2;
  }
  .burger__toggle {
    opacity: 0;
  }
  .burger__btn {
    display: block;
    width: 45px;
    height: 32px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(to bottom, transparent 20%, #fbfbfb 21%, #fbfbfb 40%,
    transparent 41%, transparent 60%, #fbfbfb 61%, #fbfbfb 80%, transparent 81%),
    linear-gradient(13deg, #ff8f5a 0%,  #ff2f96 99%, #ff2f96 100%);
  }
  .burger__toggle:checked ~ .burger__btn {
    z-index: 3;
    background: linear-gradient(45deg, transparent 45%, #6c6b86 46%, #6c6b86 55%, transparent 56%),
    linear-gradient(-45deg, transparent 45%, #6c6b86 46%, #6c6b86 55%, transparent 56%) !important;
  }

  .burger__menu {

    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    background: #fbfbfb;
    z-index: -1;
  }
  .burger__item {
    margin: 0 10px;
    padding: 20px  20px;
    border: 2px solid #ff865f;
    border-radius: 10px;
    list-style-type: none;
  }
  .burger__item:not(:last-child) {
    border-bottom: none;
  }
  .burger__toggle:checked ~ .burger__menu {
    visibility: visible;
    left: 0;
  }

  .container_name_mid {
    padding-top: 0;
  }

  .name.active>.name__bg-item_left {
    transform: translate(-420px,170px) rotate(30deg) scale(2.5);
  }

  .name.active>.name__bg-item_right {
    transform: translate(386px, 154px) rotate(-14deg) scale(1.5);
  }

  .name__bg-item_right-bottom {
    display: none;
  }
  .name.active>.name__bg-item_center {
    opacity: 1;
    transform: translate(-70px, 246px) rotate(12deg) scale(2.3);
  }

  .name.active>.name__bg-item_left-center {
    transform: translate(-445px, 650px) rotate(13deg) scale(3);
  }

  .name.active>.name__bg-item_left-bottom {
    transform: translate(-139px, 593px) rotate(-23deg) scale(2);
  }
  .name__wrapper {
    margin-top: 75px;
  }

  .name__heading {
    font-size: 54px;
  }
  .name__text {
    padding-top: 75px;
  }
  .name__desk {
    font-size: 25px;
  }

  .container_services {
    padding: 85px 0 50px;
  }
  .service__prim {
    flex-wrap: wrap;
    padding: 45px 120px 52px;
  }
  .service__item {
    padding: 42px 0;
  }

  .example {
    max-height: max-content;
    padding-bottom: 101px;
  }

  .example__heading {
    padding-top: 100px;
  }
  .example__slider {
    padding: 95px 0 100px;
  }

  .example__link-img {
    width: 456px;
    height: 359px;
  }
  .example__link-text {
    font-size: 25px;
    padding-top: 20px;
  }


  .example__pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 99px;
  }
  .example__pagination-item {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    background-color: #ebebeb;
    border-radius: 50%;
  }
  .example__pagination-item_active{
    width: 18px;
    height: 18px;
    background-color: #ff4e2e;
  }
  .example__pagination-item:not(:last-child) {
    margin-right: 30px;
  }


  .price.active>.price__bg-item_left-top {
    opacity: 1;
    transform: translate(-350px, 28px) rotate(30deg) scale(1.5);
  }
  .price.active>.price__bg-item-left-center {
    display: none;
  }
  .price.active>.price__bg-item-right-top {
    opacity: 1;
    transform: translate(377px, 297px) rotate(-27deg) scale(2);
  }
  .price.active>.price__bg-item-right-center {
    display: none;
  }
  .price.active>.price__bg-item-right-bottom {
    opacity: 1;
    transform: translate(2px, 306px) rotate(19deg) scale(1);
  }

  .price__wrapper {
    padding: 50px;
  }

}


@media (max-width: 1024px) and (min-width: 600px) {
  .service__item {
    flex: 50%;
  }
  .service__item-text {
    max-width: 254px;
  }
}
@media (max-width: 940px) and (min-width: 851px) {
  .name__wrapper {
    width: min-content;
  }
  .name__bg-item_left-bottom {
    top: 10%;
  }
}
@media (max-width: 850px){
  .container_name_wrap {
    flex-direction: column-reverse;
  }
  .name__bg-item_center {
    top: 12%;
    left: 76%;
}

  .name__bg-item_left-center {
    top: 13%;
    left: 23%;
  }

  .name__bg-item_left-bottom {
    top: 10%;
  }
}
@media (max-width: 850px) and (min-width: 395px) {
  .container_name_wrap {
    flex-direction: column-reverse;
    padding: 0 0 20px;
  }
  .name__text {
    background-color: #fff;
    width: 100vw;
    min-width: 100vw;
    padding: 50px 40px;
    align-items: center;
  }
  .name__empty {
    min-width: 100vw;
  }

  .name__heading {
    font-size: 45px;
  }
  .name__desk {
    font-size: 22px;
  }

  .name__wrapper {
    margin: 30px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_footer-wrap {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  .footer-contact {
    margin: 45px 0;
  }
}

@media (max-width: 600px) {
  .contacts {
    color: #8993ad;
    font-size: 18px;
    font-weight: 700;
  }
.btn-order-call__header-mid {
    display: none;
  }
  .btn-order-call__header-mini {
    display: block;
    outline: none;
    border: none;
    width: 26px;
    height: 26px;
    background: center / 100% url("../img/mobile/call_mini.png");
  }
  .name_mid {
    min-height: 600px;
    background-size: 50%, 50%, 100%;
    background-position: right 19% top 40%, right 9% top 35%, right 102%  top 50%;
  }

  .popup__tel {
    display: flex;
    flex-wrap: wrap;
  }
  .popup__lb {
    font-size: 16px ;
  }
  .popup__inp {
    font-size: 16px;
  }

}
@media (max-width: 450px) {
  .btn-order-call__mini {
    color: #fff;
    font-size: 16px;
    width: 280px;
    height: 55px;
    background-color: #ff4e2e;
    outline: none;
    border: none;
  }

  .container {
    padding: 0 20px;
  }

  .container_header-wrap-mini {
    padding: 25px 20px 0 8px;
  }

  .burger__btn_mini {
    width: 24px;
    height: 18px;
  }

  .popup__inp {
    font-size: 13px;
  }


  .name_mini {
    min-height: 470px;
    background-repeat: no-repeat;
    background-image: url("../img/mobile/shutterstock_574398823.png"),
    url("../img/mobile/Ellipse_1.svg");
    background-position: center top 135px,
    center top 175px;
    background-size: auto, 100%;
  }

  .container_name_mini {
    padding: 0;
  }

  .name.active > .name__bg-item_left {
    transform: translate(-108px, 102px) rotate(30deg) scale(1.3);
  }

  .name.active > .name__bg-item_right {
    transform: translate(80px, 142px) rotate(19deg) scale(0.8);
  }

  .name.active > .name__bg-item_left-center {
    transform: translate(-120px, 209px) rotate(13deg) scale(1.5)
  }

  .name.active > .name__bg-item_center {
    display: none;
  }

  .name.active > .name__bg-item_left-bottom {
    transform: translate(12px, 80px) rotate(-31deg) scale(1);
  }

  .name__text_mini {
    font-size: 18px;
    color: #8993ad;
    background-color: #fff;
    text-align: center;
    padding: 12px 20px 30px;
    align-items: center;
  }

  .name__heading_mini {
    color: #1f1f24;
    font-size: 30px;
  }

  .name__desc_mini {
    font-size: 16px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container_services {
    padding: 12px 20px;
  }

  .service__prim {
    padding: 35px 20px 14px;
  }

  .service__item {
    padding: 0;
  }

  .services__heading {
    font-size: 30px;
  }

  .service__item-img {
    transform: scale(0.7);
  }

  .service__item-text {
    font-size: 16px;
    padding: 0 0 35px;
  }


  .example {
    padding-bottom: 51px;
  }

  .example__heading {
    color: #1f1f24;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    padding-top: 82px;
    text-align: center;
  }
  .example__slider {
    padding: 42px 0 45px 0;

  }
  .example__link-img {
    width: 282px;
    height: 251px;
  }

  .example__link-text {
    color: #8993ad;
    font-size: 18px;
    padding-top: 16px;
  }
  .example__pagination {
    padding-bottom: 49px;
  }

  .example__pagination-item {
    width: 11px;
    height: 10px;
    background-color: #ebebeb;
  }
  .example__pagination-item_active {
    width: 10px;
    height: 10px;
    background-color: #ff4e2e;
  }
  .example__pagination-item:not(:last-child) {
    margin-right: 15px;
  }

  .price {
    height: 436px;
    padding: 45px 19px 50px 19px;
  }
  .price__bg-item {
    display: none;
  }
  .price__wrapper {
    padding: 0;
  }

  .price__item_size-m {
    font-size: 28px;
    line-height: 40px;
  }

  .price__item_size-s {
    font-size: 15px;
  }

.price__item-text {
    font-size: 20px;
  }

  .container_footer-wrap {
    padding: 40px 20px 42px;
  }

  .footer-contact {
    padding: 25px 0;
  }

  .footer-contact__tel {
    font-size: 20px;
    color: #8993ad;
    font-weight: 700;
  }

  .footer-contact__item:first-child {
    margin-bottom: 23px;
  }

  .footer-nav__link {
    font-size: 15px;
  }

  .social-network {
    margin-top: 46px;
  }

  .footer__copy {
    font-size: 12px;
    padding: 20px 0;
  }
}

